<table>
<thead>
<tr role="row">
<th width="100" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="Country,Other: activate to sort column ascending" style="width: 100px;">Country,<br>Other</th>
<th width="20" class="sorting_desc" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="TotalCases: activate to sort column ascending" aria-sort="descending" style="width: 47px;">Total<br>Cases</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="NewCases: activate to sort column ascending" style="width: 42px;">New<br>Cases</th><th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="TotalDeaths: activate to sort column ascending" style="width: 47px;">Total<br>Deaths</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="NewDeaths: activate to sort column ascending" style="width: 47px;">New<br>Deaths</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="TotalRecovered: activate to sort column ascending" style="width: 72px;">Total<br>Recovered</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="ActiveCases: activate to sort column ascending" style="width: 47px;">Active<br>Cases</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="Serious,Critical: activate to sort column ascending" style="width: 56px;">Serious,<br>Critical</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="Tot&amp;nbsp;Cases/1M pop: activate to sort column ascending" style="width: 70px;">Tot&nbsp;Cases/<br>1M pop</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="Deaths/1M pop: activate to sort column ascending" style="width: 51px;">Deaths/<br>1M pop</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="TotalTests: activate to sort column ascending" style="width: 47px;">Total<br>Tests</th>
<th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="Tests/
1M pop: activate to sort column ascending" style="width: 49px;">Tests/<br>
<nobr>1M pop</nobr>
</th><th style="display: none; width: 0px;" width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="Continent: activate to sort column ascending">Continent</th></tr>
</thead>
</table>