<header class="section page-header" >
	<div class="rd-navbar-wrap" >
		<nav class="rd-navbar">
			<div class="rd-navbar-main">
				<div>
					<div class="rd-nav-item" align="right">
						<a class="rd-nav-link" href="#!country-dashboard">INDIA</a>
					</div>
					<div class="rd-nav-item" align="right">
						<a class="rd-nav-link" href="#!add-worldRecords">UPDATE-WORLD RECORDS</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
<div class="table-outer table-rounded table-responsive-sm">
<div class="panel-heading" align="center" >
	<h4>
		<b>COVID RECORDS</b>
	</h4>
	<div align="left">
		<input type="text" placeholder="country" state="country" ng-model="country">
		<button type="submit"
				ng-enter="submit()" ng-click="submit()">Search</button>
	</div>
</div>
	<table  class="table-custom table-custom-primary table-hover" align="center">
		<thead>
			<tr>
				<th scope="col">Country,Other</th>
				<th scope="col">TotalL Cases</th>
				<th scope="col">New Cases</th>
				<th scope="col">Total Deaths</th>
				<th scope="col">New Deaths</th>
				<th scope="col">TotalL Recovered</th>
				<th scope="col">Active Cases</th>
				<th scope="col">Critical</th>
				<th scope="col">Tot Cases/1M Pop</th>
				<th scope="col">Deaths/1M Pop</th>
				<th scope="col">Reported 1<sup>st</sup> Case</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in getWorldRecords">
				<td>{{record.country}}</td>
				<td>{{record.totalCases}}</td>
				<td>{{record.newCases}}</td>
				<td>{{record.totalRecovered}}</td>
				<td>{{record.totalDeaths}}</td>
				<td>{{record.newDeaths}}</td>
				<td>{{record.activeCases}}</td>
				<td>{{record.critical}}</td>
				<td>{{record.casesPop}}</td>
				<td>{{record.deathsPop}}</td>
				<td>{{record.firstCase}}</td>
			</tr>
		</tbody>
	</table>
</div>